app/routers/__pycache__/categories.cpython-38.pyc
app/routers/__pycache__/fixed.cpython-38.pyc
app/routers/__pycache__/incomes.cpython-38.pyc
app/routers/__pycache__/totals.cpython-38.pyc
db/mysql/volumes/#ib_16384_0.dblwr
db/mysql/volumes/binlog.000030
db/mysql/volumes/binlog.000031
db/mysql/volumes/binlog.000032
db/mysql/volumes/binlog.index
db/mysql/volumes/ib_logfile0
db/mysql/volumes/ibdata1
db/mysql/volumes/ibtmp1
db/mysql/volumes/mysql.ibd
db/mysql/volumes/undo_001
db/mysql/volumes/undo_002
db/mysql/volumes/#innodb_temp/temp_1.ibt
db/mysql/volumes/#innodb_temp/temp_2.ibt
db/mysql/volumes/#innodb_temp/temp_3.ibt
db/mysql/volumes/#innodb_temp/temp_4.ibt
db/mysql/volumes/#innodb_temp/temp_5.ibt
db/mysql/volumes/#innodb_temp/temp_6.ibt
db/mysql/volumes/#innodb_temp/temp_7.ibt
db/mysql/volumes/#innodb_temp/temp_8.ibt
db/mysql/volumes/#innodb_temp/temp_9.ibt
db/mysql/volumes/#innodb_temp/temp_10.ibt
db/mysql/volumes/householddb/fixed_categories.ibd
db/mysql/volumes/householddb/fixed_costs.ibd
db/mysql/volumes/householddb/incomes.ibd
db/mysql/volumes/householddb/payment_categories.ibd
db/mysql/volumes/householddb/spending_categories.ibd
db/mysql/volumes/householddb/spendings.ibd
db/mysql/volumes/householddb/totals.ibd
app/routers/__pycache__/fixed.cpython-38.pyc
app/routers/__pycache__/incomes.cpython-38.pyc
app/routers/__pycache__/totals.cpython-38.pyc
db/mysql/volumes/#ib_16384_0.dblwr
db/mysql/volumes/binlog.000030
db/mysql/volumes/binlog.index
db/mysql/volumes/ib_logfile0
db/mysql/volumes/ibdata1
db/mysql/volumes/ibtmp1
db/mysql/volumes/mysql.ibd
db/mysql/volumes/undo_001
db/mysql/volumes/undo_002
db/mysql/volumes/#innodb_temp/temp_1.ibt
db/mysql/volumes/#innodb_temp/temp_2.ibt
db/mysql/volumes/#innodb_temp/temp_3.ibt
db/mysql/volumes/#innodb_temp/temp_4.ibt
db/mysql/volumes/#innodb_temp/temp_5.ibt
db/mysql/volumes/#innodb_temp/temp_6.ibt
db/mysql/volumes/#innodb_temp/temp_7.ibt
db/mysql/volumes/#innodb_temp/temp_8.ibt
db/mysql/volumes/#innodb_temp/temp_9.ibt
db/mysql/volumes/#innodb_temp/temp_10.ibt
db/mysql/volumes/householddb/fixed_categories.ibd
db/mysql/volumes/householddb/fixed_costs.ibd
db/mysql/volumes/householddb/incomes.ibd
db/mysql/volumes/householddb/payment_categories.ibd
db/mysql/volumes/householddb/spending_categories.ibd
db/mysql/volumes/householddb/spendings.ibd
db/mysql/volumes/householddb/totals.ibd
